<div class="header"></div>
<div class="avatars">
  <img
    class="avatars__item avatars__item--left"
    src="../../assets/images/desktop/image-hero-left.png"
    alt="Avatars Left"
  />
  <img
    class="avatars__item avatars__item--right"
    src="../../assets/images/desktop/image-hero-right.png"
    alt="Avatar Rights"
  />
</div>
<div class="content">
  <h2 class="content__title">Group Chat for Everyone</h2>
  <p class="content__desc">
    Meet makes it easy to connect with others face-to-face virtually and
    collaborate across any device.
  </p>
</div>
<div class="actions">
  <app-btn class="btn btn btn--1">
    Download &nbsp;
    <span class="btn__version"> v1.3 </span>
  </app-btn>
  <app-btn class="btn btn btn--2"> What is it? </app-btn>
</div>
