:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 800px 1fr 546px;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        grid-template-rows: 800px 1fr 428px;
        
    }

    @media screen and (min-device-width: 1024px) {
        grid-template-rows: 638px 1fr 308px;
    }
}

