/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '_fonts';
@import '_colors';
@import '_images';

/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend .font-body;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    // overflow-y: hidden;
}

app-root {
    min-height: 100vh;
}


h1,
.h1 {
    @extend .font-h1;
}

h2,
.h2 {
    @extend .font-h2;
}

.overline {
    @extend .font-overline;
}

p {
    @extend .font-body;
}
