// Colors
// Primaries
$primary-1: #4D96A9;
$primary-2: #855FB1;
$primary-3: #28283D;
$primary-4: #87879D;
$primary-4-transp: hsla(240, 10%, 57%, .25);

// Neutrals
$neutral-1: #8FE3F9;
$neutral-2: #D9B8FF;
$neutral-3: #FAFAFA;
