@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@import '_colors';

@mixin font($fontWeight,
    $fontSize,
    $letterSpacing,
    $lineHeight) {

    font-family: 'Red Hat Display', sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
}

.font {

    &-h1 {
        @include font(900, 40px, 0, 44px);

        @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
            @include font(900, 48px, 0, 48px);
        }

        @media screen and (min-device-width: 1024px) {
            @include font(900, 64px, 0, 64px);
        }
    }

    &-h2 {
        @include font(900, 32px, 0, 36px);

        @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
            @include font(900, 40px, 0, 44px);
        }

        @media screen and (min-device-width: 1024px) {
            // @include font(900, 64px, 0, 64px);
            @include font(900, 40px, 0, 44px);
        }
    }

    &-overline {
        @include font(900, 16px, 4px, 26px);
    }

    &-body {
        @include font(500, 16px, 0, 26px);

        @media screen and (min-device-width: 1024px) {
            @include font(500, 18px, 0, 26px);
        }
    }

    &-btn {
        @include font(900, 16px, 0, 26px);
    }

}
